@media only screen and (max-width: 1280px) {
    /* phần này được dùng để dịnh dạng cho màn hình có độ phân giải 720p HD */
    body{
        background-repeat:no-repeat; /*dòng này bắt buộc phải có*/
        /* các màu được xắp xếp theo thứ tự để tạo ra nền xen kẽ 2 màu*/
        background-image:  
            linear-gradient(to right, #E9E9E5, #E9E9E5), 
            linear-gradient(to right, white, white), 
            linear-gradient(to right, #F6F4F1, #F6F4F1);
        background-position:
            0 0, 
            0 1000px,
            0 5640px;
        background-size:  
            100% 1200px,
            100% 1000px, 
            100% 800px;
    }
}
@media only screen and (min-width: 1281px) and (max-width: 1790px) {
    /*phần này được dùng để định dạng cho màn hình có độ phân giải nửa vầng trăng*/
    body{
        background-repeat:no-repeat; /*dòng này bắt buộc phải có*/
        /* các màu được xắp xếp theo thứ tự để tạo ra nền xen kẽ 2 màu*/
        background-image:  
            linear-gradient(to right, #E9E9E5, #E9E9E5), 
            linear-gradient(to right, white, white), 
            linear-gradient(to right, #F6F4F1, #F6F4F1);
        background-position:
            0 0, 
            0 1000px,
            0 5960px;
        background-size:  
            100% 1300px,
            100% 1000px, 
            100% 800px;
    }
}
@media only screen and (min-width: 1790px) and (max-width: 1920px) {
/*phần này được dùng để định dạng cho màn hình có độ phân giải 1080p full hd*/
    body{
        background-repeat:no-repeat; /*dòng này bắt buộc phải có*/
        /* các màu được xắp xếp theo thứ tự để tạo ra nền xen kẽ 2 màu*/
        background-image:  
            linear-gradient(to right, #E9E9E5, #E9E9E5), 
            linear-gradient(to right, white, white), 
            linear-gradient(to right, #F6F4F1, #F6F4F1);
        background-position:
            0 0, 
            0 1000px,
            0 6482px;
        background-size:  
            100% 1500px,
            100% 1000px, 
            100% 800px;
    }
}
.image-one{
    position: relative;
    width: 100%;
    padding-top: 30px;
}
@media only screen and (max-width: 1280px) {
    /* phần này được dùng để dịnh dạng cho màn hình có độ phân giải 720p HD */
    .box-text-group{
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0 10%;
    }
}
@media only screen and (min-width: 1281px) and (max-width: 1790px) {
    /*phần này được dùng để định dạng cho màn hình có độ phân giải nửa vầng trăng*/
    .box-text-group{
        position: relative;
        display: grid;
        grid-template-columns: 60% 40%;
        margin: 0 15%;
    }
}
@media only screen and (min-width: 1790px) and (max-width: 1920px) {
    /*phần này được dùng để định dạng cho màn hình có độ phân giải 1080p full hd*/
    .box-text-group{
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0 23%;
    } 
}
.bold-text-one{
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    color:#212121;
    margin-right: -100px;
}
.box-menu-text-one{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: -50px;
}
.box-menu-text-one a{
    text-decoration: none;
    color: #212121;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 40px;
    font-weight: 600;
}
.box-menu-text-one a:hover{
    font-weight: 500;
}
@media only screen and (max-width: 1280px) {
    /* phần này được dùng để dịnh dạng cho màn hình có độ phân giải 720p HD */
    .straight-line-two{
        border-left: 1.2px solid rgb(0, 0, 0);
        margin: -5% 50% 00% 50%;
    }
}
@media only screen and (min-width: 1281px) and (max-width: 1790px) {
    /*phần này được dùng để định dạng cho màn hình có độ phân giải nửa vầng trăng*/
    .straight-line-two{
        border-left: 1.2px solid rgb(0, 0, 0);
        margin: -5% 50% 00% 50%;
    }
}
@media only screen and (min-width: 1790px) and (max-width: 1920px) {
    /*phần này được dùng để định dạng cho màn hình có độ phân giải 1080p full hd*/
    .straight-line-two{
        border-left: 1.2px solid rgb(0, 0, 0);
        margin: -3.5% 50% -2% 50%;
    }
}
.day img{
    position: relative;
    width: 60%;
    margin: 0 20%;
}
@media only screen and (max-width: 1280px) {
    /* phần này được dùng để dịnh dạng cho màn hình có độ phân giải 720p HD */
    .table-text{
        position: relative;
        width: 60%;
        margin: 0 20%;
        padding-top: 20px;
        padding-bottom: 100px;
        display: grid;
        grid-template-columns: 70% 30%;
    }
}
@media only screen and (min-width: 1281px) and (max-width: 1790px) {
    /*phần này được dùng để định dạng cho màn hình có độ phân giải nửa vầng trăng*/
    .table-text{
        position: relative;
        width: 60%;
        margin: 0 25%;
        padding-top: 20px;
        padding-bottom: 100px;
        display: grid;
        grid-template-columns: 70% 30%;
    }
}
@media only screen and (min-width: 1790px) and (max-width: 1920px) {
    /*phần này được dùng để định dạng cho màn hình có độ phân giải 1080p full hd*/
    .table-text{
        position: relative;
        width: 60%;
        margin: 0 26%;
        padding-top: 20px;
        padding-bottom: 100px;
        display: grid;
        grid-template-columns: 70% 30%;
    }
}

.table-text-left{
    border-right: 1.5px solid black;
    padding: 20px;
    padding-left: 0;
}
.table-text-left-title{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    line-height: 49px;
    font-weight: 600;
}
.table-text-left-content{
    font-family: 'Quicksand', sans-serif;
    line-height: 29px;
    text-align: justify;
    font-size: 18px;
}
.table-text-right{
    padding: 30px;
    padding-top: 40px;
}
.table-text-right-title{
    font-family: 'Special Elite', sans-serif;
    text-transform: uppercase;
    font-size: 20px;

}
.table-text-right-content{
    padding-top: 10px;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;

}
.big-group{
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
}
.big-group-title{
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding: 10px;
}
.group-collapse{
    position: relative;
    width: 100%;
}
.group-collapse-title {
    font-family: 'Quicksand', sans-serif;
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 17px;
    font-weight: 600;
    cursor: url(http://ani.cursors-4u.net/cursors/cur-12/cur1080.cur), auto !important;
}
.group-collapse-title:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
.active:after {
    content: "\2212";
}
.group-collapse-title:after{
    background-color: #777;
}
.group-collapse-content{
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
.group-collapse-content p{
    margin: 10px;
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
}